
*{
  color: white;
}

.contenedor-grande{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3%;
    margin: 5em 12em;
    background-color: rgb(133, 40, 220);
    border-radius: 9px;
    padding: 2em;
}

.img-game p-image img{
  border-radius: 5px;
}

.detalle-contenido{
  border: 1px solid white;
  border-radius: 5px;
}

.contenedor-botones{
  background-color: red;

}
