<div class="registro-container">
  <div class="registro-card">
    <h2>Registro</h2>
    @if (mensajeError()!="") {
      <h3 style="color:red">{{mensajeError()}}</h3>
    }

    <form [formGroup]="form" (ngSubmit)="sendUsuario()" autocomplete="off">
    @for (campo of camposFormulario; track campo) {
      <div class="form-group">
        <label [for]="campo.nombre">{{campo.nombre}}:</label>
        <input
        [id]="campo.nombre"
        [type]="campo.tipo"
        [formControlName]="campo.nombre"
        [placeholder]="campo.placeholder"
        >
      @if (campo.nombre=="email" && form.get('email')?.touched
      && form.get('email')?.invalid) {
      <small style="color:red"> Formato de email inválido</small>
      }
      @if (campo.nombre=="contra" && form.get('contra')?.touched
      && form.get('contra')?.invalid) {
      <small style="color:red"> Formato de contraseña inválido</small>
      }
      </div>
      }
      <button type="submit" [disabled]="form.invalid" >Registrarse</button>
    </form>

    <button [routerLink]="'/usuario/login'" style="margin-top: 1em;" >Volver</button>
  </div>
</div>

<!-- form.get('email')?.touched
 Me indica que el usuario lo toco una vez al menos
 SMALL etiqueta de contenido secundario-->
