
.registro-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(255, 217, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  font-family: 'Segoe UI', sans-serif;
  padding: 50px 0px;
}


h2 {
  color: #ffbb0d;
  font-weight: 600;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: 500;
  color: #ffffff;
  font-size: 1.3rem;
}


small {
  font-size: 1.2em;
  font-weight: 500;
  color:red;
}


input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  width: 100%;
}


input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.p-button-danger {
    background: rgb(255, 191, 0) !important;
    border: 1px solid rgb(255, 217, 0) !important;
    border-radius: 8px;
    padding: 10px;
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
}

.p-button-danger:hover {
    background: rgb(255, 217, 0) !important;
    border-color: white !important;
    color: black !important;
}

.p-button-secondary {
    background: #444 !important;
    border: 1px solid #666 !important;
    border-radius: 8px;
    padding: 10px;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
}

.p-button-secondary:hover {
    background: #666 !important;
    border-color: rgb(255, 191, 0) !important;
    color: rgb(255, 191, 0) !important;
}
