.registro-container {
  background: radial-gradient(circle, rgba(255, 217, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Segoe UI', sans-serif;
  padding: 50px 0;
  width: 100%;
}

.main-title {
  color: #ffbb0d;
  font-weight: 700;
  margin-top: 15px;
}

:host ::ng-deep .custom-card .p-card {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

:host ::ng-deep .custom-card .p-card-title {
    color: #ffbb0d;
    font-size: 1.5rem;
    font-weight: 600;
}

:host ::ng-deep .custom-card .p-card-subtitle {
    color: #aaaaaa;
}

.detail-label {
  color: #ffbb0d;
  font-size: 1.1rem;
}

.detail-value {
  color: white;
  font-size: 1.1rem;
}

.border-bottom {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

:host ::ng-deep .p-button-danger {
    background: rgb(255, 191, 0) !important;
    border: 1px solid rgb(255, 217, 0) !important;
    border-radius: 8px;
    padding: 10px 15px;
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

:host ::ng-deep .p-button-danger:hover {
    background: rgb(255, 217, 0) !important;
    border-color: white !important;
    color: black !important;
    box-shadow: 0 4px 8px rgba(255, 191, 0, 0.4);
    transform: translateY(-1px);
}

:host ::ng-deep .p-button-secondary {
    background: #2b2b2b !important;
    border: 1px solid #4a4a4a !important;
    border-radius: 10px;
    padding: 10px 20px;
    color: white !important;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .p-button-secondary:hover {
    background: #3a3a3a !important;
    border-color: #ffbb0d !important;
    color: #ffbb0d !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.form-actions {
  display: flex;
  gap: 15px;
}

.action-button {
  flex-grow: 1;
  width: auto !important;
}
