@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        :host {
            font-family: 'Inter', sans-serif;
            display: block;
        }
        /* Clase para evitar el parpadeo en la carga inicial si no se usa un esqueleto */
        .min-h-screen { min-height: 100vh; }