<nav class="navbar-container">
  <div class="navbar">

    <!-- LOGO -->
<div class="nav-logo">
  <img 
    src="assets/Logo/page-logo.png" 
    alt="Logo" 
    class="logo-img"
    [routerLink]="['/videojuego/lista-videojuegos']"
  >
</div>


    <!-- VIDEOJUEGOS -->
    <div class="nav-item">
<div class="nav-search" [routerLink]="['/videojuego/lista-videojuegos']">
  <i class="pi pi-search"></i>
  <span>Buscar videojuegos…</span>
</div>

    </div>

    <!-- PEDIDOS -->
    <div class="nav-item" *ngIf="auth.isLoggedIn()">
      <p-button 
        label=""
        icon="pi pi-list"
        [routerLink]="['/pedido']">
      </p-button>
    </div>

    <!-- CARRITO -->
    <div class="nav-item" *ngIf="auth.isLoggedIn()">
      <p-button 
        icon="pi pi-shopping-cart"
        label=""
        [routerLink]="['/carrito/carrito']">
      </p-button>
    </div>

    <!-- PERFIL -->
    <div class="nav-item" *ngIf="auth.isLoggedIn()">
      <p-button 
        icon="pi pi-user"
        label="Mi Perfil"
        [routerLink]="['/usuario/perfil']">
      </p-button>
    </div>

    <!-- LOGOUT -->
    <div class="nav-item" *ngIf="auth.isLoggedIn()">
      <p-button 
        icon="pi pi-sign-out"
        label="Salir"
        (click)="logout()">
      </p-button>
    </div>

    <!-- LOGIN -->
    <div class="nav-item" *ngIf="!auth.isLoggedIn()">
      <p-button 
        icon="pi pi-sign-in"
        label="Login"
        [routerLink]="['/usuario/login']">
      </p-button>
    </div>

    <!-- REGISTRO -->
    <div class="nav-item" *ngIf="!auth.isLoggedIn()">
      <p-button 
        icon="pi pi-user-plus"
        label="Registrarse"
        [routerLink]="['/usuario/registro']">
      </p-button>
    </div>

  </div>
</nav>
