/* lista-videojuegos.css */

.card-container {
    /* Usa grid para crear una cuadrícula responsiva de Cards */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.videojuego-card {
    /* Asegura que las cards ocupen el 100% de su espacio en la cuadrícula */
    width: 100%;
}

.card-image-placeholder {
    height: 150px; /* Altura para tu imagen */
    background-color: #333; /* Fondo de placeholder */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
}

.descripcion-card {
    /* Limita la altura de la descripción para mantener la uniformidad */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limitar a 4 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 5em; /* Asegura una altura mínima */
}