
@import "primeicons/primeicons.css";

@import "primeflex/primeflex.css";

body {
  background-color: rgb(28, 28, 28);
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root .p-button {
  background-color: rgb(255, 217, 0) !important;
  border: 1px solid #d4bd00 !important;
  color: #000 !important;
  font-weight: 600 !important;
  border-radius: 6px !important;
  padding: 8px 14px !important;
  transition: all 0.2s ease-in-out !important;
}

:root .p-button .p-button-icon {
  color: #000 !important;
}

:root .p-button:hover {
  background-color: #f0d600 !important;
  border-color: #c6ac00 !important;
  color: #000 !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.15) !important;
}

:root .p-button:active {
  transform: translateY(0);
  box-shadow: none !important;
}


:root .p-button.p-button-success,
:root .p-button.p-button-danger,
:root .p-button.p-button-info,
:root .p-button.p-button-warning,
:root .p-button.p-button-contrast,
:root .p-button.p-button-secondary,
:root .p-button.p-button-primary {
  background-color: #ffe600 !important;
  border: 1px solid #d4bd00 !important;
  color: #000 !important;
}
