
.filter-page-container {
    background: radial-gradient(circle, rgba(255, 217, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 50px 0;
}

.card {
    background-color: #2b2b2b;
    border: 1px solid #444;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 12px;
}

.card-title {
    color: #ffbb0d;
    font-weight: 600;
    margin-bottom: 1.5em;
    font-size: 1.5rem;
}

label {
    font-weight: 500;
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    background-color: #383838;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 15px;
    transition: all 0.2s;
}

.form-control:focus {
    background-color: #454545;
    border-color: #ffbb0d;
    box-shadow: 0 0 0 0.25rem rgba(255, 191, 0, 0.4);
    outline: none;
}

.filter-actions-container {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.p-button-primary {
    background: rgb(255, 191, 0) !important;
    border: 1px solid rgb(255, 217, 0) !important;
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 10px;
}

.p-button-primary:hover {
    background: rgb(255, 217, 0) !important;
    border-color: white !important;
    color: black !important;
}

.p-button-secondary {
    background: #444 !important;
    border: 1px solid #666 !important;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 10px;
}

.p-button-secondary:hover {
    background: #666 !important;
    border-color: rgb(255, 191, 0) !important;
    color: rgb(255, 191, 0) !important;
}
.action-button {
    flex-grow: 1;
    width: auto !important;
}

.videojuego-filter { margin-bottom: 1rem; }
.filter-card-vertical { max-width: 100%; }
.campos-verticales > div { margin-bottom: 1rem; }
